html,
body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */
:root {
    --primary-color: #196A6A;
    --primary-color2: #000000;
    --title-color: #000000;
    --border-color: #000000;
    --gradient-color: linear-gradient(90deg, #5FC9C4 0%, #196A6A 100%);
    --gradient-color2: linear-gradient(90deg, #196A6A 0%, #0D2035 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);



    /*font family variables*/
    --roboto: "Roboto", sans-serif;
    --orbitron: "Orbitron", sans-serif;
    --digi: "DS-Digital", sans-serif;
    --honey: "Honey-Script", sans-serif;
}